<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <!--   <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>  --> 
        <RollingRandomAccessFile name="STANDARD" fileName="${sys:logfile.name}" 
            filePattern="${sys:logfile.name}.%d{yyy-MM-dd}">
            <PatternLayout>
            	<pattern>%d %c{1} %-5p - %m%n</pattern>
            </PatternLayout>
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="Message" fileName="${sys:logfile.name}-message.log" 
            filePattern="${sys:logfile.name}-message.%d{yyy-MM-dd}">
            <PatternLayout>
            	<pattern>%d %c{1} %-5p - %m%n</pattern>
            </PatternLayout>
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Message" />  
            <AppenderRef ref="STANDARD"/>
        </Root>
    </Loggers>
</Configuration>